<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboottemplate.mapper.OtherBusinessMapper">
    <resultMap id="otherBusinessResultMap" type="OtherBusiness">
        <id property="id" column="id"/>
        <result property="storeId" column="store_id"/>
        <result property="businessName" column="business_name"/>
        <result property="businessDesc" column="business_desc"/>
        <result property="businessFee" column="business_fee"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <insert id="addOtherBusiness" parameterType="OtherBusiness">
        INSERT into other_business (id, store_id, business_name, business_desc, business_fee, created_by, created_time, deleted)
        value (#{id}, #{storeId}, #{businessName}, #{businessDesc}, #{businessFee}, #{createdBy}, #{createdTime}, #{deleted})
    </insert>

    <select id="findOtherBusiness" parameterType="OtherBusiness" resultMap="otherBusinessResultMap">
        select * from other_business
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
            <if test="businessName != null and businessName != ''">
                and business_name like CONCAT('%', #{businessName}, '%')
            </if>
            <if test="businessDesc != null and businessDesc != ''">
                and business_desc like CONCAT('%', #{businessDesc}, '%')
            </if>
            <if test="businessFee != null and businessFee != ''">
                and business_fee like CONCAT('%', #{businessFee}, '%')
            </if>
            <if test="createdBy != null and createdBy != ''">
                and created_by = #{createdBy}
            </if>
            <if test="createdTime != null and createdTime != ''">
                and created_time = #{createdTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
            <choose>
                <when test="deleted != null">
                    and deleted = #{deleted}
                </when>
                <otherwise>
                    and deleted = 0
                </otherwise>
            </choose>
        </where>
        order by created_time desc, id desc
    </select>

    <update id="updateOtherBusiness" parameterType="OtherBusiness">
        update other_business
        <set>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="businessName != null">business_name = #{businessName},</if>
            <if test="businessDesc != null">business_desc = #{businessDesc},</if>
            <if test="businessFee != null">business_fee = #{businessFee},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
        </set>
        where id = #{id}
    </update>
</mapper>
