<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboottemplate.mapper.StoreMapper">
    <!-- 定义结果映射 -->
    <resultMap id="storeResultMap" type="Store">
        <id property="id" column="id"/> <!-- 主键字段 -->
        <result property="storeId" column="store_id"/>
        <result property="realName" column="real_name"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="userId" column="user_id"/>
        <result property="storeType" column="store_type"/>
        <result property="storeTime" column="store_time"/>
        <result property="status" column="status"/>
        <result property="identityName" column="identity_name"/>
        <result property="identityCompanyName" column="identity_company_name"/>
        <result property="businessLicense" column="business_license" />
        <result property="identityNo" column="identity_no"/>
        <result property="identityFontImg" column="identity_font_img"/>
        <result property="identityBackImg" column="identity_back_img"/>
        <result property="identityPhone" column="identity_phone"/>
        <result property="identityEmail" column="identity_email"/>
        <result property="createdTime" column="created_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <insert id="addStore" parameterType="Store">
        INSERT into store (name, address, user_id, store_type, store_time, status, identity_name, identity_company_name, business_license, identity_no, identity_font_img, identity_back_img, identity_phone, identity_email, created_time, created_by) value (#{name}, #{address}, #{userId}, #{storeType}, #{storeTime}, #{status}, #{identityName}, #{identityCompanyName}, #{businessLicense}, #{identityNo}, #{identityFontImg}, #{identityBackImg}, #{identityPhone}, #{identityEmail}, #{createdTime}, #{createdBy})
    </insert>

    <!-- 查询所有商户信息（模糊查询）-->
    <select id="findStore" parameterType="Store" resultMap="storeResultMap">
        select * from store
        <where>
            <if test="id != null and id != ''">
                and id LIKE CONCAT('%', #{id}, '%')
            </if>
            <if test="storeId != null and storeId != ''">
                and store_id like CONCAT('%', #{storeId}, '%')
            </if>
            <if test="name != null and name != ''">
                and name like CONCAT('%', #{name}, '%')
            </if>
            <if test="storeType != null and storeType != ''">
                and store_type = #{storeType}
            </if>
            <if test="storeTime != null and storeTime != ''">
                and store_time = #{storeTime}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="address != null and address != ''">
                and address like CONCAT('%', #{address}, '%')
            </if>
            <if test="identityName != null and identityName != ''">
                and identity_name like CONCAT('%', #{identityName}, '%')
            </if>
            <if test="identityCompanyName != null and identityCompanyName != ''">
                and identity_company_name like CONCAT('%', #{identityCompanyName}, '%')
            </if>
            <if test="identityNo != null and identityNo != ''">
                and identity_no = like CONCAT('%', #{identityNo}, '%')
            </if>
            <if test="identityPhone != null and identityPhone != ''">
                and identity_phone = like CONCAT('%', #{identityPhone}, '%')
            </if>
            <if test="identityEmail != null and identityEmail != ''">
                and identity_email = like CONCAT('%', #{identityEmail}, '%')
            </if>
            <if test="createdTime != null and createdTime != ''">
                and created_time = #{createdTime}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
            <if test="deleted != null and deleted != ''">
                and deleted = #{deleted}
            </if>
            <if test="deleted == null || deleted == '' || deleted == 0">
                and deleted = 0
            </if>
        </where>
    </select>

    <!-- 根据用户ID修改商户信息 -->
    <update id="updateStore" parameterType="Store">
        update store
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="address != null">address = #{address},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="storeType != null">store_type = #{storeType},</if>
            <if test="storeTime != null">store_time = #{storeTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="identityName != null">identity_name = #{identityName},</if>
            <if test="identityCompanyName != null">identity_company_name = #{identityCompanyName},</if>
            <if test="businessLicense != null">business_license = #{businessLicense},</if>
            <if test="identityNo != null">identity_no = #{identityNo},</if>
            <if test="identityFontImg != null">identity_font_img = #{identityFontImg},</if>
            <if test="identityBackImg != null">identity_back_img = #{identityBackImg},</if>
            <if test="identityPhone != null">identity_phone = #{identityPhone},</if>
            <if test="identityEmail != null">identity_email = #{identityEmail},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </set>
        where id = #{id}
--         update store set name = #{name}, address = #{address}, user_id = #{userId}, store_type = #{storeType}, store_time = #{storeTime}, status = #{status}, identity_name = #{identityName}, identity_company_name = #{identityCompanyName}, business_license = #{businessLicense}, identity_no = #{identityNo}, identity_font_img = #{identityFontImg}, identity_back_img = #{identityBackImg}, identity_phone = #{identityPhone}, identity_email = #{identityEmail}, update_by = #{updateBy} where id = #{id}
    </update>
</mapper>