<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboottemplate.mapper.UserMapper">
    <!-- 定义结果映射 -->
    <resultMap id="userResultMap" type="User">
        <id property="id" column="id"/> <!-- 主键字段 -->
        <result property="userName" column="user_name"/>
        <result property="realName" column="real_name"/>
        <result property="sex" column="sex"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <result property="birthday" column="birthday"/>
        <result property="updateTime" column="update_time"/>
        <result property="createdTime" column="created_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="createdBy" column="created_by"/>
        <result property="email" column="email"/>
        <result property="identityType" column="identity_type"/>
        <result property="password" column="password"/>
        <result property="remark" column="remark"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <!-- 新增用户 -->
    <insert id="addUser" parameterType="User">
        INSERT into user (user_name, password, real_name, sex, phone, address, birthday, email, identity_type, created_time, created_by, remark) value (#{userName}, #{password}, #{realName}, #{sex}, #{phone}, #{address}, #{birthday}, #{email}, #{identityType}, #{createdTime}, #{createdBy}, #{remark})
    </insert>

    <!-- 查询所有用户信息（模糊查询）-->
    <select id="findUser" parameterType="User" resultMap="userResultMap">
        select * from user
        <where>
            <if test="id != null and id != ''">
                and id LIKE CONCAT('%', #{id}, '%')
            </if>
            <if test="userName != null and userName != ''">
                and user_name like CONCAT('%', #{userName}, '%')
            </if>
            <if test="realName != null and realName != ''">
                and real_name like CONCAT('%', #{realName}, '%')
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="phone != null and phone != ''">
                and phone like CONCAT('%', #{phone}, '%')
            </if>
            <if test="address != null and address != ''">
                and address like CONCAT('%', #{address}, '%')
            </if>
            <if test="birthday != null and birthday != ''">
                and birthday like CONCAT('%', #{birthday}, '%')
            </if>
            <if test="email != null and email != ''">
                and email like CONCAT('%', #{email}, '%')
            </if>
            <if test="createdTime != null and createdTime != ''">
                and created_time = #{createdTime}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
            <if test="createdBy != null and createdBy != ''">
                and created_by = #{createdBy}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="deleted != null and deleted != ''">
                and deleted = #{deleted}
            </if>
            <if test="deleted == 0">
                and deleted = 0
            </if>
        </where>
    </select>

    <!-- 修改用户信息 -->
    <update id="updateUser" parameterType="User">
        update user
        <set>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="email != null">email = #{email},</if>
            <if test="identityType != null">identity_type = #{identityType},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where id = #{id}
    </update>
</mapper>